*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: 'Luciole';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $noir;
  color: $blanc;
  height: 100vh;
  background-image: url("/images/fond.png");
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
#root{
  width: 90%;
  margin: 0 auto;
  min-height:100%;
  max-width:700px;

  >div{
    height:100%;
    display: flex;
    justify-content: center;
  }
}
.container{
  height:100%;
  display: flex;
  max-width:700px;
  width:100%;
}
:focus { outline: none; }

@font-face {
  font-family: 'Luciole';
  font-style: normal;
  src: url('../fonts/Luciole-Regular.ttf');
}
@font-face {
  font-family: 'LucioleB';
  font-style: normal;
  src: url('../fonts/Luciole-Bold.ttf');
}

@media only screen and (orientation:landscape){
  #root {
    display:none;
  }
  body{
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .msgportrait{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.8rem;
    width: max-content;
  }
}
@media only screen and (orientation:portrait){
  #root {
    display: block;
  }
  .msgportrait{
    display: none;
  }
}