.header{
  width: 100vw;
  background-color: $noir;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  left:0;
  z-index:2;
  height:6rem;
  img{
    margin-top: 1rem;
  }
  h3{
    color: $vert;
    font-size: 2rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }

  &_titre{
    padding-top:6rem;
    .vague{
      position:relative;

      img{
        width:100vw;
        max-width:700px;
      }
      h2{
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
      }
    }
  }
}