.rules{

  .mainRules{
    margin-top: 2vh;
    .titlePart{
      text-align: center;
      text-transform: uppercase;
    }
    .liste{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 2vh;
      .onerule{
        width: 45%;
        margin-bottom: 2vh;
        font-size: 1.2rem;
      }
      img{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
  .categories{
    margin-top: 4vh;
    .titlePart{
      text-align: center;
      text-transform: uppercase;
    }
    .liste{
      width: 100%;
      margin-top: 2vh;
      position: relative;
      >div{
        position: absolute;
        top: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5rem 0 2rem 0;
        a{
          text-decoration: none;
          color: $blanc;
          text-align: center;
          font-size: 2rem;
          margin-bottom: 0.8rem;
        }
        .link{
          margin-top: 1vh;
        }
        .title::first-letter{
          text-transform: uppercase;
        }
      }


    }
  }
}