.stats{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  .intro{
    padding-top: 4rem;
    padding-bottom: 2rem;
    h2{
      position: relative;
      padding-bottom: 1.5rem;
      z-index: 1;
    }
    h2:after{
      content: "";
      position: absolute;
      width: 100%;
      bottom: -2px;
      left: 0;
      border-bottom: 5px solid $jaune;
      z-index: -2;
    }
  }
  p{
    font-size: 1.5rem;
  }
  p.pays{
    padding-bottom: 1.5rem;
  }
}
.recharts-wrapper{
  text-align: center;
  width:98vw!important;
  margin: 3rem 0 0 0;
  svg{
    width:95vw;
    margin: 0 auto;
  }
  .recharts-legend-wrapper{
    width:98vw!important;
  }
  .recharts-tooltip-label{
    color: $noir;
  }
}
.globalstats div:last-child{
  margin-bottom: 3rem;
}